<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="myStyleBlue" id="info" layout:fragment="info">
    <div class="container">
        <div class="mt-5">
            <div class="hero my-5">
                <div>
                    <h3>Dates: 14.07.2023-16.07.2023</h3>
                    <div>
                        Address: Othona Community, Bradwell-on-Sea, Essex, CM0 7PN
                    </div>

                    <h2>Itinerary</h2>

                    <div>
                        Friday, 14.07
                        <ul>
                            <li>Arrival</li>
                            <li>Dinner</li>
                        </ul>
                    </div>

                    <div>
                        Saturday, 15.07
                        <ul>
                            <li>Breakfast</li>
                            <li>Discussions, masterclasses, talks, games</li>
                            <li>Lunch</li>
                            <li>Games and walks</li>
                            <li>Evening service, confessions</li>
                            <li>Dinner</li>
                            <li>Concert</li>
                        </ul>
                    </div>

                    <div>
                        Sunday, 16.07
                        <ul>
                            <li>8:00 Divine Liturgy</li>
                            <li>Breakfast</li>
                            <li>Akathist</li>
                            <li>Masterclasses</li>
                            <li>Lunch</li>
                            <li>Games, walks</li>
                            <li>Departure</li>
                        </ul>
                    </div>

                    <div>
                        On prices and conditions look on <a href="https://www.othonaessex.org.uk/">Othona</a> site
                    </div>

                    <div>
                        Contacts:
                        Email
                        Telephone(s)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>